<f:layout name="BackendSubModule" />

<f:section name="content">
	<div class="neos-row-fluid">
		<f:if condition="{lists}">
			<f:then>
				<f:widget.paginate objects="{lists}" as="paginatedLists" configuration="{maximumNumberOfLinks: 10}">
					<table class="neos-table">
						<thead>
							<tr>
								<th>Name</th>
								<th>Number of subscribers</th>
								<th>Creation date</th>
								<th>List rating</th>
								<th>&nbsp;</th>
							</tr>
						</thead>
						<f:for each="{paginatedLists}" as="list">
							<tr>
								<td><i class="icon-user icon-bullhorn"></i> <f:link.action action="list" arguments="{listId: list.id}">{list.name}</f:link.action></td>
								<td>{list.stats.member_count}</td>
								<td>{list.date_created}</td>
								<td>{list.list_rating}</td>
								<td class="neos-action">
									<div class="neos-pull-right">
										<f:link.action action="list" arguments="{listId: list.id}" class="neos-button neos-button-primary" title="View list details">
											<i class="icon-info-sign icon-white"></i>
										</f:link.action>
									</div>
								</td>
							</tr>
						</f:for>
					</table>
				</f:widget.paginate>
			</f:then>
			<f:else>
				<p>No MailChimp lists found.</p>
				<p>Did you configure the API key correctly at <b>Wwwision.Neos.MailChimp.apiKey</b>?</p>
			</f:else>
		</f:if>
	</div>
</f:section>